* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: 0.4vw;
  scrollbar-color: #FFC20A #332459;
}

html::-webkit-scrollbar {
  width: 0.4vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #FFC20A;
}

html::-webkit-scrollbar-track {
  background-color: #332459;
}

body {
  background-color: #332459;
}

.disclaimer {
  color: #FFC20A;
}

.disclaimer:hover {
  color: #ffd454;
}

.headerTitle {
  max-height: 25px;
}

.navLinks {
  padding: 0 1em;
}

.navLinks a {
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  margin: 0 25px;
  position: relative;
}

.navLinks a {
  text-decoration: none;
  color: #fff;
}

.navLinks a::after {
  content: "";
  height: 2px;
  width: 0;
  background: white;
  position: absolute;
  left: 50%;
  top: 30px;
  transition: 0.3s;
}

.navLinks a:hover::after {
  width: 100%;
  left: 0;
}

.toolLink {
  text-decoration: none;
  color: gray;
  transition: transform 0.3s;
}
.toolLink:hover {
  color: #FFC20A;
  transform: translateX(10px);
}

.navBurger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  top: 2.5em;
  right: 2em;
  height: 1em;
  z-index: 20;
}

.navBurger.open {
  position: fixed;
  width: 2em;
  height: 2em;
}

.burgerTop {
  background-color: white;
  width: 2em;
  height: 2px;
  transition: all 0.3s;
}

.burgerTop.open {
  transform: rotate(45deg);
  position: absolute;
  top: 0.5em;
  background-color: black;
}

.burgerBottom {
  background-color: white;
  width: 1em;
  height: 2px;
  transition: all 0.3s;
}

.burgerBottom.open {
  width: 2em;
  transform: rotate(-45deg);
  position: absolute;
  top: 0.5em;
  background-color: black;
}

.navMenu {
  background-color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  padding: 1em;
  opacity: 0;
  transition: all 0.5s;
}

.navMenu.open {
  display: flex;
  opacity: 1;
  z-index: 15;
}

.navMenu.open::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("/images/logo.png");
  background-position-x: center;
  background-position-y: 45%;
  background-size: 10em;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.1;
}

.navItem {
  text-decoration: none;
  color: black;
  transition: all 0.3s;
}

.navItem:hover {
  color: #FFC20A;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1em;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-130%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 0.5s;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-130%);
  transition: all 0.5s;
}

.menu-secondary-enter {
  position: absolute;
  transform: translateX(130%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all 0.5s;
}

.menu-secondary-exit {
  position: absolute;
}

.menu-secondary-exit-active {
  transform: translateX(130%);
  transition: all 0.5s;
}

.hero {
  background-image: url("/images/hero.png");
  background-position: center;
  background-size: cover;
  color: white;
  background-color: #4b3e6d94;
  background-blend-mode: soft-light;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  font-size: 34px;
  font-family: sans-serif;
}

.bannerImg {
  height: fit-content;
  width: fit-content;
}

.restoration {
  height: 130vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  font-family: sans-serif;
  position: relative;
  padding: 5em;
}

.restoration::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 115%;
  z-index: -1;
  background-image: url("/images/body.png");
  background-size: 110% 100%;
  background-position: center;
  background-color: #3b2a67c1;
  background-blend-mode: soft-light;
  opacity: 0.45;
}

.video {
  border: 0px;
  width: 80%;
  aspect-ratio: 16/9;
}

.carousel {
  width: 100vw;
}

.footerLinks {
  text-decoration: none;
  color: white;
  transition: color 0.5s;
}

.footerLinks:hover {
  color: #FFC20A;
}

@media all and (max-width: 1100px) {
  .restoration {
    flex-direction: column;
    height: auto;
  }
  
  .video {
    width: 120%;
  }
}

@media all and (max-width: 500px) {
  .hero {
    font-size: large;
  }  
  html {
    scrollbar-width: 0vw;
  }
  html::-webkit-scrollbar {
    width: 0vw;
  }
}

@media all and (max-width: 700px) {
  .restoration::before {
    background-size: cover;
  }
}